
        <!-- Main fragment -->
        <main>
            <section id="main_container">
                <section id="option_section">
                    <button onclick="renderAboutMe()">About me</button>
                    <button onclick="renderExperience()">My experience</button>
                </section>

                <section id="main_section">
                    <!-- This content is created by body_controller.js -->
                    <div id="main_content" />
                </section>
            </section>
        </main>
        