html {
    height: 100%;
}

* {
    /* SIZING */
    margin: 0;
    padding: 0;

    /* CENTERING */
    justify-content: center;
    align-items: center;

    /* COLOURING */
    background-color: white;
    color: #333;

    /* FONT */
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: row;

    margin: 30px 50%;
}

body {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

header {
    /* DISPLAY */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer {
    /* DISPLAY */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}