html {

}

*{
    /* DISPLAY */
    
    /* SIZING */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* CENTERING */
    justify-content: center;
    align-items: center;
    
    /* COLOURING */
    background-color: #24252A;
    color: white;

    /* FONT */
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

body{
    width: 100%;
    min-height: 100vh;
    /* background-image: url("../ressources/background.PNG"); */
}

header{
    /* DISPLAY */
    display: flex;
    justify-content: space-between;
        
    /* SIZING */
    margin-bottom: 40px;
    padding: 30px 10%;

    /* FONT */
    font-size: 18px;
}

main{
    width: 800px;

    /* Order and display */
    display: flex;

    /* Background */
    background-color: beige;

    /* Border */
    border: 2px solid darkslategray;
    border-radius: 15px;
    box-shadow: 5px 5px gray
}

section {
    /* ORDER */
    flex-direction: column;
    align-items: center;
    
    background-color: beige;
}

#content h1, #content h2, #content h3, #content div {
    /* ORDER */
    flex-direction: column;
    align-items: center;
    
    background-color: beige;
    color: #24252A;
}

footer {
    /* DISPLAY */
    display: flex;
    justify-content: space-between;

    /* Puts the footer at the bottom */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#links{
    flex-direction: column;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    header {
        /* FONT */
        font-size: 15px;
        
        /* SIZING */
        margin-bottom: 20px;
        padding: 30px 10%;
    }
    
    footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    header {
        /* FONT */
        font-size: 10px;
        
        /* SIZING */
        margin-bottom: 20px;
        padding: 30px 10%;
    }
    
    footer {
        font-size: 8px;
    }
}

@media screen and (max-width: 300px) {
    header {
        /* FONT */
        font-size: 8px;
        
        /* SIZING */
        margin-bottom: 20px;
        padding: 30px 10%;
    }
    
    footer {
        font-size: 5px;
    }
}